
<!doctype html>
<html lang="en">
{% load  static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'users/css/login.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
  <title>Login</title>
  
</head>

<body style="overflow-y: scroll;">
 
<!-- <nav   class="navbar navbar-expand-lg navbar-light bg-transperant sticky-top">

    <a style="color:black;"  class="navbar-brand" href="/homebefore/">
    <img src='{% static 'users/images/logo1.jpeg' %}' width="90" height="30" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

        <li class="nav-item" >
            <a style="color:black;" class="nav-link" href="/homebefore/">Home</a>
        </li>
        <li class="nav-item">
            <a style="color:black;" class="nav-link" href="/login/">Login</a>
        </li>
        <li class="nav-item">
            <a style="color:black;"  class="nav-link" href="/register/">Register</a>
        </li>

      </ul>
    </div>
  </nav> -->

  <nav class="navbar">
		<div class="content">
		  <div class="logo">
		 <a href="{% url 'homebefore' %}"><img src='{% static 'users/images/logo1.jpeg' %}' width="90"
				height="30"></a>
		  </div>
		  <ul class="menu-list">
			<div class="icon cancel-btn">
			  <i class="fas fa-times"></i>
			</div>
			<li><a href="/homebefore/">Home</a></li>
			<li><a  href="/login/">Login</a></li>
			<li><a  href="/register/">SignUp</a></li>
		  </ul>
		  <div class="icon menu-btn">
			<i class="fas fa-bars"></i>
		  </div>
		</div>
	  </nav>

      <div class="center" >        
          <h1>Login</h1>
          <form method="post">
            {% csrf_token %}
            <div class="txt_field">
              <input type="text" name='name' required>
              <span></span>
              <label>Username</label>
            </div>
            <div class="txt_field">
              <input type="password" name='password' id="password1" required>
              <span></span>
              <label>Password</label>
            </div>
            {% for message in messages %}
    
            <div class="alert alert-success">
                <a class="close" href="/login/" data-dismiss="alert">×</a>
                   {{ message }}
            </div>
        
          {% endfor %}
            <input type="submit" value="login"</a>
            
            <div class="signup_link">
              Not a member? <a href="/register/">Signup</a>
            </div>
            <div class="signup_link">
              <a href="/reset_password/">Forgot Password?</a>
            </div>
          </form>
      </div>
 
      <div class="footer" style="margin-top: auto; bottom:0; position: fixed; width: 100vw;">
        <div class="containerf">
          <div class="rowf">
            <div class="footer-col">
              <h4>Docure</h4>
              </div>
              <div class="footer-col">
              <ul>
                <li><a href="/about/">About Us</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Follow us</h4>
              </div>
              <div class="footer-col">
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>  


</body>  

</html>